<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DB" value="" />
    <add key="Classes" value="Lkg,Ukg,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th" />
    <add key="Months" value="April,May,June,July,August,September,October,November,December,January,February,March" />
   
  </appSettings>
  
  <connectionStrings>
    <!--<add name="LocalSqlServer1" connectionString="Data Source=VIVEK-PC\SQLEXPRESS;Initial Catalog=SchoolManagement;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="LocalSqlServer1" connectionString="data source=VIVEK-PC\VIVEK;database=SchoolManagement;uid=sa;pwd=abc123;" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>